= form_for(avatar) do |f|
  - if avatar.errors.any?
    %h2#error_explanation
      = "#{pluralize(photo.errors.count, "error")} prohibited this avatar from being saved:"
    %ul
      - avatar.errors.full_messages.each do |message|
        %li= message
  .form-inputs
    = f.file_field :image
