%nav.navbar.navbar-toggleable-md.navbar-fixed-top.navbar-light.bg-faded
  %button.navbar-toggler.navbar-toggler-right{type: 'button', data: { toggle: 'collapse' }}
    %span.navbar-toggler-icon
  = link_to 'Brand', main_app.root_path, class: 'navbar-brand'
  #nav_loggedout.collapse.navbar-collapse
    .navbar-nav.mr-auto
      = link_to 'Example', '#', class: 'nav-item nav-link'
    = link_to user_avatar(current_user, :nav), '#', {class: 'nav-item nav-link dropdown-toggle', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': true, 'aria-expanded': false}
    .dropdown-menu.dropdown-menu-right
      = link_to 'Account', edit_user_registration_path, class: 'dropdown-item'
      = link_to current_user.subscribed? ? 'Billing' : 'Subscribe ', new_subscription_path, class: 'dropdown-item'
      .dropdown-divider
      = link_to 'Logout', main_app.destroy_user_session_path, method: 'delete', class: 'dropdown-item'
